<% provide(:title, 'All users') %>
<h1>All users</h1>
<div class="row">
  <aside class="col-4">
    <section>
      <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
    </section>
  </aside>
</div>
