<% provide(:title, 'Users all') %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <% @user.each do |user| %>
          <div><%= user.name %></div>
        <% end %>
      </h1>
    </section>
  </aside>
</div>